body 
{
    background-color: #ffffff;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    background-image: url('background.png');
   }
   h1 {
    color: #000000;
    text-align: left;
   }
   h2 {
    color: #000000;
    text-align: center;
   }
   .trio{text-align: center; }
   h3 {
    color: #000000;
    text-align: left;
   }
   h4 {
    color: #FF0099;
    text-align: left;
   }
   p {
    color: #000000;
    text-align: left;
   }
  .navicon {
   color: #ff0099; 
  }
   nav {
    display: flex;
    justify-content: space-between;
   }
  
  nav {
    line-height: 80px;
  }

  header {
    background-color: #333333;
    height: 80px;
  }
  .navbar {
    margin: 0 60px;
    text-align: right;
  }
  
  header .icon {
    fill: white;
  }
h3 {
    margin: 0px;
}
main {
    margin: 0px 60px;
}
  body {
    margin: 0px 0px;
}
